html{
	height: 100%;
}
body {
	width: 100%;
	background-color: lightblue;
	text-align: center;
}

h1 {
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 250%;
	
}

button {
	width:100px;
  height:100px;
  display:inline-block;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-shadow:1px 1px 0px #07526e;
  padding-top:6px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  cursor:pointer;
  border: none;
  background: #109bce;
  background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}

button:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}

button:before {
  font-family: 'arial';
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  width:85px;
  height:90px;
  display:block;
  position:absolute;
  padding-top:10px;
  top:10px;
  text-shadow: 1px 1px 2px #07526e;

}
